.bus-item {
	list-style-type: none;
	width: 95%;
	box-sizing: border-box;
	margin: 0 auto;
	margin: 20px;
	height: 120px;
	padding: 10px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	color: black;
	text-decoration: none;
	transition: 0.3s;
}
.bus-item:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.bus-item .bus-body {
	text-decoration: none;
}
.bus-item .bus-image {
	width: 25%;
	max-width: 100px;
	height: 100%;
	margin-right: 15px;
}
.bus-item .bus-image img {
	width: 100%;
	height: 100%;
}
.bus-item .header {
	font-size: 20px;
}
.bus-body {
	width: 100%;
}
.bus-body .info {
	font-size: 12px;
	display: inline-block;
	margin-right: 10px;
}
