.sidebar {
	width: 450px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #eee;
}
.sidebar .padded {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	background: #fff;
	padding-bottom: 10px;
}
.sidebar .third {
	width: 33%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 10px;
}
.sidebar .third:first-child {
	padding-left: 20px;
}
.sidebar .third:last-child {
	padding-right: 20px;
}
